<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Error 404</title>
        <meta name="description" content="RaluTickets ofera bilete la o varietate de evenimente, cum ar fi: evenimente sportive, culturale, concerte, festivaluri, teatru si multe altele. ">
        <meta name="keywords" content="bilet, bilete, bilete online, evenimente, sport, muzica, piesa de teatru, festival, concert, copii, spectacole, ralutickets">
        <%- include("../fragmente/head.ejs") %>
    </head>

    <body id="inceput">
        <%- include("../fragmente/header.ejs") %>
        <main>
        <h2 style="text-align: center;">Ooops...error 404 page not found!</h2>
        <img src="/resurse/imagini/error-404.jpg" height="450px" width="450px" class="center">
        </main>
    </div>
    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>