<!DOCTYPE html> <!-- task 1-->
<html lang="ro">
    <head>
        <title>RaluTickets Homepage</title>  <!-- task 3-->
        <meta name="description" content="RaluTickets ofera bilete la o varietate de evenimente, cum ar fi: evenimente sportive, culturale, concerte, festivaluri, teatru si multe altele. ">
        <meta name="keywords" content="bilet, bilete, bilete online, evenimente, sport, muzica, piesa de teatru, festival, concert, copii, spectacole, ralutickets">
        <%- include("../fragmente/head.ejs") %>
    </head>

    <body id="inceput">
        <%- include("../fragmente/header.ejs") %>
        <main>
        <h2>Ooops...404 page not found!</h2>>
        </main>
    </div>
    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>