<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="RaluTickets - cos virtual">
        <meta name="keywords" content="bilet, bilete, bilete online, evenimente, sport, muzica, piesa de teatru, festival, concert, copii, spectacole, rock, fotbal, tenis, pop, cos virtual">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>RaluTickets - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>