<!DOCTYPE html> <!-- task 1-->
<html lang="ro">
    <head>
        <title>RaluTickets Homepage</title>  <!-- task 3-->
        <meta name="description" content="RaluTickets ofera bilete la o varietate de evenimente, cum ar fi: evenimente sportive, culturale, concerte, festivaluri, teatru si multe altele. ">
        <meta name="keywords" content="bilet, bilete, bilete online, evenimente, sport, muzica, piesa de teatru, festival, concert, copii, spectacole, ralutickets">
        <%- include("../fragmente/head.ejs") %>
    </head>

    <body id="inceput">
        <%- include("../fragmente/header.ejs") %>
        <main>
            <p id="banner">Acest site este construit in scop educational</p>
        <div id="grid">
        <section id="despre">  <!-- task 7 si 8-->
            <h2>Despre noi</h2>
            <p>RaluTickets este un site pentru vanzarea de bilete online pentru evenimente.</p>
            <p>In cadrul site-ului nostru, veti putea alege sa participati la evenimente care fac parte dintr-o multitudine de categorii, cum ar fi:</p>
            <ul>
                <li>Concerte si festivaluri</li>
                <li>Evenimente sportive</li>
                <li>Cultura</li>
                <li>Evenimente pentru copii</li>
            </ul>
            <aside>
                <p>Pentru a cumpara cu usurinta bilete, va recomandam sa va creati un cont de utilizator.</p>
            </aside>
        </section>

        <section id="online-users">  <!-- task 7 si 8-->
            <p>Online users:</p>
            <ul>
                <li>Raluca Pascu</li>
                <li>Raluca Lapadus</li>
                <li>Valentin Cenusa</li>
                <li>Razvan Campian</li>
            </ul>
        </section>

        <section id="user-data-and-stats"> 
            <%- "Ip-ul dumneavoastra este: " + locals.ip %>
        </section>

        <section id="site-and-server-data"> 
            <p>Sed tempor sit amet mi sed molestie. Donec in dui ut eros lobortis malesuada in at tortor. Nullam nec tellus 
                purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur elit diam, in gravida 
                tellus posuere sit amet. Suspendisse malesuada viverra consectetur. In a lectus in orci convallis gravida vitae 
                dolor. Vestibulum non finibus velit. Morbi non molestie ex, eu placerat leo. Vestibulum laoreet, sem ac ullamcorper 
                suscipit, libero odio pellentesque metus, in scelerisque orci justo at quam. Aliquam commodo placerat ornare. Aenean 
                consequat lorem nec ultricies dictum. Nunc at lorem metus. Pellentesque mattis placerat nisl.
            </p>
        </section>

        <section id="events"> 
            <p>Praesent ultrices lectus vitae faucibus suscipit. Aliquam luctus, lorem quis efficitur efficitur, urna metus 
                pretium magna, vitae accumsan dui elit in leo. Maecenas pellentesque fermentum velit et sagittis. Aliquam 
                aliquet ipsum at pharetra convallis. Morbi libero diam, pulvinar non risus eget, tempus efficitur diam. Donec 
                id bibendum augue, ut lobortis nulla. Proin ac imperdiet ex, nec convallis mi. Ut tempor laoreet diam, ac 
                tincidunt purus venenatis eu.
            </p>
        </section>

        <section id="anunturi"> 
            <section id="info-coronavirus">
                <h2> <span class="fas fa-viruses"></span>Info Covid-19</h2>
                <p><strong>Atentie! Avand in vedere contextul pandemic in care ne aflam, desfasurarea evenimentelor poate suferi modificari!</strong></p> <!-- task 10.c)-->
                <p>Va rugam vizitati sectiunea <em>Info Coronavirus</em> 
                    pentru mai multe detalii sau accesati site-ul oficial al guvernului Romaniei, <!-- task 10.d) -->
                    sectiunea info coronavirus <a href="https://gov.ro/ro/info-coronavirus-covid-19" target="_blank">aici</a></p> <!-- task 11-->
            </section> 
        </section>

        <section id="table"> 
            <div class="schedule-table">
            <table id="tab-orar" >
                <caption >Orarul se poate schimba datorita pandemiei!!!</caption>
                <thead>
                    <tr>
                        <th>Nume Eveniment</th>
                        <th>Tip Eveniment</th>
                        <th>Program</th>
                        <th>Locatia</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr>
                        <td>FC Petrolul - FC U Craiova</td>
                        <td>Sportiv</td>
                        <td>Miercuri, 20 Octombrie 2021</td>
                        <td>Stadionul Ilie Oana, Ploiesti</td>
                    </tr>
                    <tr>
                        <td>CRISTI MINCULESCU, VALTER & BORO</td>
                        <td>Concerte</td>
                        <td>Miercuri, 20 Octombrie 2021</td>
                        <td>Sala Palatului, Bucuresti</td>
                    </tr>
                    <tr>
                        <td>Magic Way</td>
                        <td rowspan="2">Teatru pentru copii</td>
                        <td>Miercuri, 20 Octombrie 2021</td>
                        <td>Opera Comică pentru Copii, Bucureşti</td>
                    </tr>
                    <tr>
                        <td>Jack si vrejul de fasole</td>
                        <td>Miercuri, 20 Octombrie 2021</td>
                        <td>Opera Comică pentru Copii, Bucureşti</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        </section>

        <div id="diverse">
            <video controls style="width:80%;height:auto" poster="/resurse/imagini/concert.jpg">
                <source src="resurse/video/CROWD_JUMPS_LIGHTS_PULSE.mp4" type="video/mp4">
                <source src="resurse/video/CROWD_JUMPS_LIGHTS_PULSE.ogv" type="video/ogv">
                <track  default src="resurse/video/tracks/captions-concert.vtt" kind="captions" srclang="ro" label="română" /> 
                <track  src="resurse/video/tracks/captions-concert-en.vtt" kind="captions" srclang="en" label="engleză" />
              </video>
            <hr>
        <section id="recomandari">
            <h2>Recomandarile noastre</h2>
            <p>Mai jos puteti vedea recomandarile noastre pentru luna octombrie:</p>
            <section>
                <h3>Hai la teatru!</h3>
                <p>Sustine teatrul romanesc si ia-ti un bilet la o piesa de teatru!</p> <!-- task 8-->
                <p><q>Teatrul nu moare şi nu va muri niciodată, el evoluează în dispreţul vieţii curente.</q> - Ion Caramitru</p> <!-- task 10.h)-->
                <ul> <!-- task 8 -->
                    <li>Străini în noapte - Constanța - Joi, 14 Octombrie 2021</li>
                    <li>Povestiri culese - Bucuresti - Joi, 14 Octombrie 2021</li>
                    <li>Gradinile groazei - Bucuresti - Vineri, 15 Octombrie 2021</li>
                    <li>Crima din strada Lourcine - Bucuresti - Vineri, 15 Octombrie 2021</li>
                </ul>
            </section> 
            <section>
                <h3>Concerte si festivaluri</h3>
                <p>Iata recomandarile noastre in muzica:</p>
                <ul>
                    <li>CRISTI MINCULESCU, VALTER & BORO - Sala Palatului, Bucuresti - Miercuri, 20 Octombrie 2021</li>
                    <li>Nikos Vertis - Sala Palatului, Bucuresti - Miercuri, 20 Octombrie 2021</li>                    
                    <li>Pink Floyd Legend - Arenele Romane, Bucuresti - Vineri, 15 Octombrie 2021</li>
                    <li>Pop Opera - Sala Palatului, Bucuresti - Vineri, 15 Octombrie 2021</li>
                </ul>
            </section>
            <section>
                <h3><span class="far fa-futbol fa-spin"></span>Sport</h3>
                <ul>
                    <li>FC Petrolul - FC U Craiova - Stadionul Ilie Oana, Ploiesti - Miercuri, 20 Octombrie 2021</li>
                    <li>FC Rapid - CFR Cluj - Arena Nationala, Bucuresti - Miercuri, 20 Octombrie 2021</li>                    
                    <li>Simona Halep - Bianca Andreescu - Transilvanian Open, Cluj - Vineri, 15 Octombrie 2021</li>
                    <li>CSM Bucuresti – CSM Deva - Sala Polivalenta, Bucuresti - Vineri, 15 Octombrie 2021</li>
                </ul>
            </section>
            <section>
                <h3>Pentru copii</h3>
                <p>Recomandarile noastre de spectacole pentru copii:</p>
                <ul>
                    <li>Jack si vrejul de fasole - Opera Comică pentru Copii, Bucureşti - Miercuri, 20 Octombrie 2021</li>
                    <li>Magic Way - Opera Comică pentru Copii, Bucureşti - Miercuri, 20 Octombrie 2021</li>
                </ul>
            </section>
        </section>

        <section> 
            <h2>Highlights of 2021</h2>
            <div id="iframe-container">
                <div id="iframe-buttons">
                    <a href="https://www.youtube.com/embed/0NUEZXWjzPI" target="ifr">Untold 2021</a>
                    <a href="https://www.youtube.com/embed/nLCm1YdeL-A" target="ifr">Romania-Ungaria</a>
                </div>
            <iframe src="https://www.youtube.com/embed/0NUEZXWjzPI" name="ifr" width="900" height="506"></iframe>
        </div>
        </section>

        <section id="faq">
            <h2><abbr title="Frequently Asked Questions">FAQ</abbr></h2>  <!-- task 10.f)-->
            <details> <!-- task 12-->
                <summary>Cum pot anula o rezervare?</summary>
                <p>In sectiunea Contul Meu > Istoric cumparaturi veti putea vedea lista tuturor evenimentelor la care ati luat parte si puteti da click pe ele pentru a vedea mai multe informatii.
                    Pentru evenimentele care nu s-au desfasurat inca, puteti alege sa anulati rezervarea apasand butonul "Vreau sa anulez rezervarea".
                </p>
            </details>

            <details> <!-- task 12-->
                <summary>Cum pot vedea daca s-a schimbat data desfasurarii unui spectacol?</summary>
                <p>Daca ati cumparat un bilet pentru acel spectacol, veti fi notificat prin email de eventualele modificari de program.
                </p>
            </details>

            <details> <!-- task 12-->
                <summary>Nu am fost anuntat/a prin email de modificarile aparute si am ratat evenimentul la care trebuia sa particip. Voi primi banii inapoi?</summary>
                <p>In cazul in care intr-adevar, adresa de email pe care ati introdus-o la checkout este corecta si nu ati primit niciun email, RaluTickets isi asuma 
                    vina si veti primi banii inapoi.
                </p>
            </details>
        </section>
    </div>
        </main>
    </div>
    <p id="end">Un paragraf de final.</p>
    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>