<!DOCTYPE html>
<html>
<head>
<style>
            * {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #8f7a66;
}

.el {
    width: 100vw;
  height: 100vh;
  padding: 1rem;
  mask-image: linear-gradient(to bottom, transparent 10%, black);
  mask-size: cover;
  mask-position: center;
}
#masked {
  width: 100px;
  height: 100px;
  background-color: #8cffa0;
  mask-image: url(https://mdn.mozillademos.org/files/12676/star.svg);
}
        </style>
</head>
<body>

<h2>Linear Gradient as Background Image</h2>
<p>This linear gradient starts at the top. It starts red, transitioning to yellow:</p>

<div id="masked"></div>

<!-- <img class="el" src="https://images.unsplash.com/photo-1528287942171-fbe365d1d9ac?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&w=1200&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"></img> -->

<p><strong>Note:</strong> Internet Explorer 9 and earlier versions do not support gradients.</p>

</body>
</html>