#sectiune-galerie-animata {
  padding-left: var(--padding-intern);
  padding-right: var(--padding-intern);
  background-color: var(--section-background-color);
  border: 1px solid var(--primary-darker-color);
  border-radius: 5px;
  box-shadow: var(--shiny-border) 0px 0px 26px 5px;
  height: 400px;
}

#galerie-animata {
  width: 300px;
  height: 200px;
  border: 10px solid transparent;
  border-image: url("/resurse/imagini/border.png");
  border-image-repeat: round;
  border-image-slice: 30;
  border-image-width: 10px;
  position: relative;
  overflow: hidden;
  display: block;
}

#galerie-animata figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#galerie-animata figure {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
}

/*cum calculam timpii:
- avem n poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- n imagini * 3 secunde = 3n secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
*/
#galerie-animata figure {
  animation-name: gal_exemplu;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 36s;
  transform-origin: center center;
}

#galerie-animata:hover figure {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

#galerie-animata figure:nth-of-type(1) {
  animation-delay: 30s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(2) {
  animation-delay: 27s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(3) {
  animation-delay: 24s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(4) {
  animation-delay: 21s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(5) {
  animation-delay: 18s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(6) {
  animation-delay: 15s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(7) {
  animation-delay: 12s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(8) {
  animation-delay: 9s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(9) {
  animation-delay: 6s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(10) {
  animation-delay: 3s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(11) {
  animation-delay: 0s;
  z-index: 0;
}

#galerie-animata figure:nth-of-type(12) {
  animation-delay: -3s;
  z-index: 0;
}

@keyframes gal_exemplu {
  0% {
    z-index: 10;
    opacity: 1;
    transform: translateX(0%);
  }
  1.1666666667% {
    transform: translateX(0%);
  }
  4.1666666667% {
    transform: translateX(20%);
    opacity: 1;
  }
  5.3333333333% {
    transform: translateX(-40%);
  }
  8.3333333333% {
    transform: translateX(100%);
    opacity: 0;
  }
  91.6666666667% {
    opacity: 0;
    z-index: -10;
    transform: translateX(0%);
  }
  91.6666667667% {
    z-index: 0;
  }
  /*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
  100% {
    opacity: 1;
    z-index: 0;
  }
}
@media screen and (max-width: 800px) {
  #sectiune-galerie-animata {
    display: none;
  }
}