#sectiune-galerie-animata {
  padding-left: var(--padding-intern);
  /* variabila din css-ul general*/
  padding-right: var(--padding-intern);
}

.galerie-a {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.galerie-a figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}

.galerie-a figure {
  position: relative;
  width: 400px;
  height: 300px;
}

/*cum calculam timpii:
- avem n poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- n imagini * 3 secunde = 3n secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
*/
#galerie-animata figure {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  animation-name: gal_exemplu;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 9s;
  transform-origin: center center;
}

#galerie-animata figure:nth-of-type(1) {
  animation-delay: 0s;
}

#galerie-animata figure:nth-of-type(2) {
  animation-delay: 3s;
}

#galerie-animata figure:nth-of-type(3) {
  animation-delay: 6s;
}

@keyframes gal_exemplu {
  0% {
    z-index: 10;
    opacity: 1;
  }
  /*perioada 0-5% in care se afiseaza fara efect */
  /*transformare inceput disparitie*/
  16.6666666667% {
    transform: translateX(20%);
  }
  /* de  aici doresc sa descresc si opacitatea;*/
  30.3333333333% {
    opacity: 1;
  }
  33.3333332333% {
    z-index: 10;
    opacity: 0;
    transform: translateX(-40%);
  }
  33.3333333333% {
    z-index: -10;
    transform: translateX(0%);
  }
  /* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
  66.6666665667% {
    opacity: 0;
    z-index: -10;
    transform: translateX(0%);
  }
  66.6666665667% {
    z-index: 0;
  }
  /*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
  100% {
    opacity: 1;
    z-index: 0;
  }
}
@media screen and (max-width: 500px) {
  #sectiune-galerie-animata {
    display: none;
  }
}