main > * {
    margin-top: 2 rem;
    margin-bottom: 2rem;
}

#produse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}

#info-produs {
    display: flex;
    flex-direction: row;
}

#categ-produs {
    flex-basis: 60%;
}

#descriere {
    font-size: 0.8rem;
}

.produs{
    padding: 0 20px;
    width: 700px;
    height: 500px;
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
}

.produs h3 {
    text-align: center;
    color: var(--text-color);
    border-bottom: 2px solid var(--primary-darker-color);
}

.imag-produs {
    width: 180px;
    height: 200px;
}

#filtre {
    background: var(--section-background-color);
    border-radius: 5px;
    padding: 2rem;
}

#input-nume-eveniment {
    width: 500px !important;
}

#range-inceput, #range-sfarsit, #select-admite-voucher {
    width: 200px !important;
}

#range-inceput, #range-sfarsit, .admite-voucher {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

h3 > a {
    text-decoration: none;
    color: var(--text-color);
}