html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

body {
    --primary-color:#EB6D00;
    --primary-darker-color:#FA5100;
    --primary-lighter-color:#F59400;
    --shiny-border: rgba(250, 81, 0, 0.1);
    --background-color:#F5F5F5;
    --section-background-color:#FFFFFF;
    --section-color: #F8F8F0;
    --border-color:#000000;
    --text-color: #3f3350;
    --text-color-on-dark: #FFFFFF;
    --large-text-navbar: 1rem;
    --small-text-navbar: 0.85rem;
    --nav-items-large-width: 13rem;
    --nav-items-small-width: 9rem;
    --padding-intern:4%;
    --s: 2px;
    --nav-height: 3.2rem;
    background-color: var(--background-color);
}

main {
    position: relative;
    top: var(--nav-height);
}

#iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iframe-buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
}
#iframe-buttons a {
    --button-height: 30px;
    display: block;
    width: 150px;
    height: var(--button-height);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    line-height: var(--button-height);
    text-decoration:none;
    color: var(--text-color);
    text-align: center;		 
    background: var(--section-background-color);
    transition-property: background, color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#iframe-buttons a:hover {
    background: var(--primary-darker-color);
    color: white;
}

#grid {
    display: grid;
    grid-template-areas: "gr-despre gr-despre gr-despre gr-despre"
                         "gr-despre gr-despre gr-despre gr-despre"
                         "gr-online-users gr-user-data gr-user-data gr-server-data"
                         "gr-events gr-events gr-table gr-table"
                         "gr-anunturi gr-anunturi gr-table gr-table"
                         "gr-diverse gr-diverse gr-diverse gr-diverse"
                         "gr-diverse gr-diverse gr-diverse gr-diverse"
                         "gr-galerie-statica gr-galerie-statica gr-galerie-statica gr-galerie-statica"
                         "gr-galerie-animata gr-galerie-animata gr-galerie-animata gr-galerie-animata";
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap:0.5em;
    grid-column-gap:0.5em;
}

#sectiune-galerie-animata {
	grid-area: gr-galerie-animata;
}

#galerie-statica {
    grid-area: gr-galerie-statica;
  }

#despre {
    grid-area: gr-despre;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
}
#online-users {
    grid-area: gr-online-users;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
}
#user-data-and-stats {
    grid-area: gr-user-data;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
}
#site-and-server-data {
    grid-area: gr-server-data;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
}
#events {
    grid-area: gr-events;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
}
#anunturi {
    grid-area: gr-anunturi;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
}
#table {
    grid-area: gr-table;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    caption-side: bottom;
}
#diverse {
    grid-area: gr-diverse;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
}
.fa-house-chimney {
    color: #000000;
}
#link-top{
    position:fixed;
    display: grid;
    bottom:0.3em;
    opacity:0.5;
    left:0.3em;
    grid-template-columns: 3rem;
    grid-template-rows: 3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    text-decoration: none;
    border:1px solid var(--primary-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: var(--background-color);
    box-shadow: inset 0px 0px 20px var(--primary-color);
    transition: all .5s linear ;
    align-items: center;
    justify-items: center;
}

#link-top:hover {
    opacity: 1;
}
#link-top:hover #sageata{
    opacity: 1;
    transform: scale(1.3);
}
#sageata {
    color: var(--text-color);
    font-size: 40px;
}
#link-top .tooltiptext {
    visibility: hidden;
    padding: 0.25em 0.5em;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 100%;
    transition-property: visibility;
    transition-delay: 0s;
  }
  #link-top:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer{
    background-color: var(--primary-darker-color);
    color: white;
    height: 115px;
    padding-left:var(--padding-intern);
    padding-right:var(--padding-intern);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
::cue {
    text-align:center;
    background-image: linear-gradient(var(--primary-darker-color), var(--text-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
}

#tab-orar{
    text-align:center;
    border-spacing: var(--s);
}

#tab-orar td, #tab-orar th{
    border:1px solid var(--primary-lighter-color);
    padding:0.2rem;
}

#tab-orar{
    border-collapse:separate;
}

tr:nth-child(even) {
    background: var(--primary-color)
}

tr:nth-child(odd) {
    background: var(--primary-lighter-color)
}
#tbody tr:hover{
    background: var(--primary-darker-color);
}
#tbody tr{
    transition: background 1s;
}

#tab-orar tbody tr{
    counter-increment: ct-orar;
}

#watermark, #banner, #end{
    display:none;
}

@media print {

	#banner {
		position: absolute;
		display: inline-block;
        border:5px dotted black;
		top: 0;
		width:80%;
		margin: 0 auto;
		overflow: visible;
	}

    /* header {
        display: none;
    } */

	h1{
		page-break-after: always;
        text-decoration: underline;
		margin: auto auto;
		text-align:center;
	}

    #iframe-container *, img *, nav *, #link-top {
        display: none;
    }
    video, video track, video source{
        display: none;
    }
    a {
        text-decoration:none;
    }
    #grid{
		font-size: 10px;
		box-sizing:border-box;
		page-break-after:always;
		grid-template-rows: calc(100vh - 10px) 100vh 100vh 100vh;
		}
	html, body {
        width: 210mm;
        /* height: 297mm; */
        /*height: 282mm;*/
		overflow:visible !important;
	}
		#watermark
		{
			display: block;
			position: fixed;/*apare pe toate paginile*/
			bottom:0;
			color:var(--text-color);
			right:0;
		}
		#watermark::after{
			width: 100px;
            height: 2cm;
			opacity: 0.65;
			padding:5px;
			display: block;
			background: white;
			border:2px double black;
            border-radius: 10px;
			content:"Copyright Raluca Pascu";
		}

	#end{
		page-break-before: always;
	}
}

@page {
    size: A4 portrait;
    margin-bottom:2cm;
    margin-top:2cm;
    counter-increment: page;
        
}
@page:left{
    margin-left: 2.5cm;
    margin-right: 0.5cm;
}
@page:right{
    margin-right: 2.5cm;
    margin-left: 0.5cm;
}

hr {
    border: none;
    height: 20px;
    width: 100%;
    background-image: radial-gradient(circle, var(--primary-lighter-color) 40%, var(--primary-darker-color) 50%, transparent 70%),
    linear-gradient(white, transparent, var(--primary-darker-color)50%, transparent, white);
    background-size: 20px 20px, auto;
    background-repeat: no-repeat, no-repeat;
    background-position-x: center;
    background-position-y: center;

}
