html {
    position: relative;
    min-height: 100%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
header {
    color: var(--text-color);
}

body {
    --primary-color:#EB6D00;
    --primary-darker-color:#FA5100;
    --primary-lighter-color:#F59400;
    --shiny-border: rgba(250, 81, 0, 0.1);
    --background-color:#F5F5F5;
    --section-background-color:#FFFFFF;
    --section-color: #F8F8F0;
    --border-color:#000000;
    --text-color: #3f3350;
    --text-color-on-dark: #FFFFFF;
    --large-text-navbar: 1rem;
    --small-text-navbar: 0.85rem;
    --nav-items-large-width: 13rem;
    --nav-items-small-width: 9rem;
    --padding-intern: 2%;
    --s: 2px;
    --nav-height: 3.2rem;
    background-color: var(--background-color);
    transition: background 0.2s linear;
}

body.dark {
    --primary-color:#FA5100;
    --primary-darker-color:#FA5100;
    --primary-lighter-color:#FA5100;
    --shiny-border: rgba(250, 81, 0, 0.1);
    --background-color: #000000;
    --section-background-color: rgba(20, 20, 20, 1);
    --section-color: #F8F8F0;
    --border-color:#000000;
    --text-color: #FFFFFF;
    --text-color-on-dark: #FFFFFF;
    --large-text-navbar: 1rem;
    --small-text-navbar: 0.85rem;
    --nav-items-large-width: 13rem;
    --nav-items-small-width: 9rem;
    --padding-intern: 2%;
    --s: 2px;
    --nav-height: 3.2rem;
    background-color: var(--background-color);
}

main {
    position: relative;
    top: var(--nav-height);
    margin-top: 25px;
    margin-bottom: 300px;
    color: var(--text-color);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    box-sizing: border-box;
    width: 50px;
    height: 26px;
    background-color: var(--primary-darker-color);
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.fa-moon {
    color: white;
}

.fa-sun {
color: yellow;
}

#banner {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--primary-lighter-color);
    width: 25%;
    height: 100px;
    z-index: 200;
    color: var(--text-color);
    padding: var(--padding-intern);
    font-size: 1em;
    display: none;
    animation-name: animatie-banner;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transform-origin: bottom left;
}


@keyframes animatie-banner {
    0%{
        transform:scale(0,0);
        opacity: 0;
        background-color: var(--section-background-color);
    }
    100%{
        transform:scale(1,1);
        opacity: 0.75;
        background-color: var(--primary-darker-color);
    }  
}

@media only screen and (max-width: 1200px) {
    #banner {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--primary-lighter-color);
        width: 25%;
        height: 100px;
        z-index: 200;
        color: var(--text-color);
        padding: var(--padding-intern);
        font-size: 1em;
        animation: none;
    }
  }

#iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iframe-buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
}
#iframe-buttons a {
    --button-height: 30px;
    display: block;
    width: 150px;
    height: var(--button-height);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    line-height: var(--button-height);
    text-decoration:none;
    color: var(--text-color);
    text-align: center;		 
    background: var(--section-background-color);
    transition-property: background, color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#iframe-buttons a:hover {
    background: var(--primary-darker-color);
    color: white;
}

#grid {
    display: grid;
    grid-template-areas: "gr-despre gr-despre gr-despre gr-despre"
                         "gr-despre gr-despre gr-despre gr-despre"
                         "gr-online-users gr-user-data gr-user-data gr-server-data"
                         "gr-events gr-events gr-table gr-table"
                         "gr-anunturi gr-anunturi gr-table gr-table"
                         "gr-diverse gr-diverse gr-diverse gr-diverse"
                         "gr-diverse gr-diverse gr-diverse gr-diverse"
                         "gr-galerie-statica gr-galerie-statica gr-galerie-statica gr-galerie-statica"
                         "gr-galerie-animata gr-galerie-animata gr-galerie-animata gr-galerie-animata";
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap:0.5em;
    grid-column-gap:0.5em;
    color: var(--text-color);
}

#sectiune-galerie-animata {
	grid-area: gr-galerie-animata;
}

#galerie-statica {
    grid-area: gr-galerie-statica;
  }

#despre {
    grid-area: gr-despre;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    padding: var(--padding-intern);
}
#online-users {
    grid-area: gr-online-users;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    padding: var(--padding-intern);
}
#user-data-and-stats {
    grid-area: gr-user-data;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    padding: var(--padding-intern);
}
#site-and-server-data {
    grid-area: gr-server-data;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    padding: var(--padding-intern);
}
#events {
    grid-area: gr-events;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    padding: var(--padding-intern);
}
#anunturi {
    grid-area: gr-anunturi;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    padding: var(--padding-intern);
}
#table {
    grid-area: gr-table;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    caption-side: bottom;
    padding: var(--padding-intern);
}
#diverse {
    grid-area: gr-diverse;
    background-color: var(--section-background-color);
    border: 1px solid var(--primary-darker-color);
    border-radius: 5px;
    box-shadow: var(--shiny-border) 0px 0px 26px 5px;
    padding: var(--padding-intern);
}
.fa-house-chimney {
    color: #000000;
}
#link-top{
    position:fixed;
    display: grid;
    bottom:0.3em;
    opacity:0.5;
    left:0.3em;
    grid-template-columns: 3rem;
    grid-template-rows: 3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    text-decoration: none;
    border:1px solid var(--primary-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: var(--background-color);
    box-shadow: inset 0px 0px 20px var(--primary-color);
    transition: all .5s linear ;
    align-items: center;
    justify-items: center;
}

#link-top:hover {
    opacity: 1;
}
#link-top:hover #sageata{
    opacity: 1;
    transform: scale(1.3);
}
#sageata {
    color: var(--text-color);
    font-size: 40px;
    display: block;
}
#link-top .tooltiptext {
    visibility: hidden;
    padding: 0.25em 0.5em;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 100%;
    transition-property: visibility;
    transition-delay: 0s;
  }
  #link-top:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-darker-color);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 100%;
    
}
::cue {
    text-align:center;
    background-image: linear-gradient(var(--primary-darker-color), var(--text-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
}

#tab-orar{
    text-align:center;
    border-spacing: var(--s);
}

#tab-orar td, #tab-orar th{
    border:1px solid var(--primary-lighter-color);
    padding:0.2rem;
}

#tab-orar{
    border-collapse:separate;
}

tr:nth-child(even) {
    background: var(--primary-color)
}

tr:nth-child(odd) {
    background: var(--primary-lighter-color)
}
#tbody tr:hover{
    background: var(--primary-darker-color);
}
#tbody tr{
    transition: background 1s;
}

#tab-orar tbody tr{
    counter-increment: ct-orar;
}

#watermark, #banner, #end{
    display:none;
}

@media print {

	#banner {
		position: absolute;
		display: inline-block;
        border:5px dotted black;
		top: 0;
		width:80%;
		margin: 0 auto;
		overflow: visible;
	}

    /* header {
        display: none;
    } */

	h1{
		page-break-after: always;
        text-decoration: underline;
		margin: auto auto;
		text-align:center;
	}

    #iframe-container *, img *, nav *, #link-top {
        display: none;
    }
    video, video track, video source{
        display: none;
    }
    a {
        text-decoration:none;
    }
    #grid{
		font-size: 10px;
		box-sizing:border-box;
		page-break-after:always;
		grid-template-rows: calc(100vh - 10px) 100vh 100vh 100vh;
		}
	html, body {
        width: 210mm;
        /* height: 297mm; */
        /*height: 282mm;*/
		overflow:visible !important;
	}
		#watermark
		{
			display: block;
			position: fixed;/*apare pe toate paginile*/
			bottom:0;
			color:var(--text-color);
			right:0;
		}
		#watermark::after{
			width: 100px;
            height: 2cm;
			opacity: 0.65;
			padding:5px;
			display: block;
			background: white;
			border:2px double black;
            border-radius: 10px;
			content:"Copyright Raluca Pascu";
		}

	#end{
		page-break-before: always;
	}
}

@page {
    size: A4 portrait;
    margin-bottom:2cm;
    margin-top:2cm;
    counter-increment: page;
        
}
@page:left{
    margin-left: 2.5cm;
    margin-right: 0.5cm;
}
@page:right{
    margin-right: 2.5cm;
    margin-left: 0.5cm;
}

hr {
    border: none;
    height: 20px;
    width: 100%;
    background-image: radial-gradient(circle, var(--primary-lighter-color) 40%, var(--primary-darker-color) 50%, transparent 70%),
    linear-gradient(white, transparent, var(--primary-darker-color)50%, transparent, white);
    background-size: 20px 20px, auto;
    background-repeat: no-repeat, no-repeat;
    background-position-x: center;
    background-position-y: center;

}
