<footer>
    <a href="#" id="link-top" title="Inapoi sus">
        <div id="sageata">&#129081</div>
        <span class="tooltiptext">Inapoi sus</span>
</a>
    <br>
    <address>  <!-- task 13-->
        Strada Doctor Leonte Anastasievici nr. 9, București 050464
        <br>
        <a href="mailto:contactralutickets@ralutickets.ro">Email</a>
        <br>
        <a href="tel:0763547283">Numar de telefon</a>
    </address>
    <p>Data publicarii site-ului: <time datetime="2021-10-04T00:00:00+02:00">4/10/2021</time></p>  <!-- task 14-->
    <small>&#169; Copyright 2021 Raluca Pascu </small> <!-- task 14-->
</footer>