<header> <!-- task 5-->
    <nav> 
        <label id="hamburger" for="ch-menu">
            <i class="fas fa-bars"></i>
        </label>
            <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <label for="acasa">
                    <span class="fas fa-house"></span><span class="acasa">Acasa</span>
                </label>
                <input class="ch-submenu" type="checkbox" id="acasa">
                <ul class="submeniu">
                    <li><a href=#despre>Despre noi</a></li>
                    <li><a href=#recomandari>Recomandarile noastre</a></li>
                    <li><a href=#info-coronavirus>Noutati Coronavirus</a></li>
                    <li><a href=#faq>FAQ</a></li>
                </ul>
            </li>
            <li>
                <label for="evenimente">Evenimente</label>
                <input class="ch-submenu" type="checkbox" id="evenimente">
                <ul class="submeniu">
                    <li><a href="#">Concerte si festivaluri</a></li>
                    <li><a href="#">Evenimente sportive</a></li>
                    <li><a href="#">Cultura</a></li>
                    <li><a href="#">Pentru copii</a></li>
                    <li><a href="#">Diverse</a></li>
                </ul>
            </li>
            <li><a href="#">Cos de cumparaturi</a></li>
            <li><a href="/info-covid">Info Coronavirus</a></li>
            <li>
                <label for="contul-meu">Contul meu</label>
                <input class="ch-submenu" type="checkbox" id="contul-meu">
                <ul class="submeniu">
                    <li><a href="#">Date personale</a></li>
                    <li><a href="#">Istoric cumparaturi</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>RaluTickets</h1>  <!-- task 6-->
</header>